API_TITLE=Fake News Detection API with LIME
API_READY_MESSAGE=Fake News Detection API with LIME is running

SERVER_HOST=127.0.0.1
SERVER_PORT=8000

MODEL_PATH=model/bilstm_noisy_labels_model.h5
TOKENIZER_PATH=model/tokenizer.pkl
MAX_SEQUENCE_LENGTH=120
PREDICTION_THRESHOLD=0.5

LIME_CLASS_NAMES=fake,real
LIME_PREDICT_NUM_FEATURES=10
LIME_PREDICT_NUM_SAMPLES=1000
LIME_EXPLAIN_NUM_FEATURES=10
LIME_EXPLAIN_NUM_SAMPLES=500

STOPWORDS_LANGUAGE=english
